/* ---------------- elements ------------------- */
body,
html {
  font-family: "Noto Serif", serif;
}

button {
  border: none;
  background-color: white;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

/* ----------------  class   ------------------- */
.today-weather-icon {
  width: 150px;
}

.card {
  border: none;
}

.card-body {
  padding: 0;
  text-align: center;
}

.degree {
  font-size: 50px;
}

.cel,
.far,
.seprator {
  font-size: 15px;
  position: relative;
  top: -23px;
  left: 5px;
}

.cel {
  color: blue;
  text-decoration: underline;
}

.far {
  cursor: pointer;
}

.description {
  font-size: 25px;
}

.description::first-letter {
  text-transform: uppercase;
}

.humidity,
.wind {
  font-size: 20px;
}

.illustarion {
  width: 300px !important;
  border-radius: 20px;
}

.github {
  text-align: center;
  font-size: 14px;
}

.next-forcast {
  margin-top: 20px;
}

.next-forcast > p {
  text-align: center;
}

.next-forcast-image {
  width: 80px;
}

.next-forcast-min {
  opacity: 0.7;
}

.glow {
  color: rgb(59, 59, 59);
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0064e6,
      0 0 40px #0064e6, 0 0 50px #0064e6, 0 0 60px #0064e6, 0 0 70px #0064e6;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #6fc2e9, 0 0 40px #6fc2e9,
      0 0 50px #6fc2e9, 0 0 60px #6fc2e9, 0 0 70px #6fc2e9, 0 0 80px #6fc2e9;
  }
}
/* ----------------    id    ------------------- */
#search-text {
  border: 2px solid #a89d9d;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  background: #f1f1f1;
}

#magnifier {
  width: 51px;
  margin-top: 25px;
}

#location {
  width: 42px;
  margin-top: 25px;
}
